.maxwRight{float:left;width: 933px;}
.maxwLeft{float:right;width:250px;}
.goods-shopmax-rank .item .i {width:200px!important;}
.goods-shopmax-rank .active .i {width:118px!important;}
.goods-shopmax-rank .item.active {height:115px;}