body{
	max-width: 720px;
	margin: 0px auto;
}
.home-hot,.home-to-top,.full-screen .home-nav{
	display: none;
}
.footer{
	height:0px;
	padding:0px;
	display: none;
}
.home-nav-down{
	position: fixed;
	bottom:0px;
	width:100%;
	margin-top:0px;
	max-width: 720px;
}
.main-banner .slider,.main-banner .slider-item,.main-banner{
	height:100%;
	width:100%;
	max-width: 720px;
}
.page{
	width:100%;
	min-width: 320px;
	padding:0px;
}
.slider .slider-list{
	position: relative;
}
.home-nav-down td{
	padding-top:10px;
	padding-bottom: 10px;
}
.home-nav-down td a{
	font-size: 15px;
}
.main-banner{
	border:0px none;
}
/*-----------------------------------------*/
.box_swipe {
    overflow: hidden;
    position: relative;
}
.box_swipe ul {
    overflow: hidden;
    position: relative;
}
/*------------微信关注浮动条----------------------*/
.pay_attention_to{
	width:100%;
	position: fixed;
	height:30px;
	opacity:0.3; filter: alpha(opacity=30); 
	background-color:#000; 
	max-width: 720px;
	bottom:0;
	margin-bottom:50px;
}
.attention_float{
	width:50px;
	height:30px;
	line-height: 30px;
	background-color: #339933;
	float:right;
	margin-right: 20px;
	text-align: center;
	border-radius:5px;
}
.attention_float a{
	
}