<link rel="stylesheet" type="text/css" href="/custom/b2c/view/wap/member/public/member.css">

<div class="full-screen">
    <header>
        <div class="a-bar">
            <a href="javascript:history.back()" class="a-back" style='display:block;'>
                <i class="arr left"></i>
                返回
            </a>
            <div class="a-name">
                二维码关注
            </div>
        </div>
    </header>
    <div class="section" style="border:none;margin:10px auto;width:100%;">
       <img src="/public/images/qrcode_for_gh_5946a42f92f4_430.jpg" style='margin:0px auto;width:95%;'>
    </div>
    <div style="border:none;margin:10px auto;width:100%;text-align:center;">长按此↑↑↑二维码可关注公众号</div>
    
</div>

