<link rel="stylesheet" type="text/css" href="/custom/b2c/view/wap/member/public/member.css">

<div class="full-screen">
    <header>
        <div class="a-bar">
            <a href="javascript:history.back()" class="a-back" style='display:block;'>
                <i class="arr left"></i>
                返回
            </a>
            <div class="a-name">
                二维码分享
            </div>
        </div>
    </header>
    <div class="section" style="border:none;margin:10px auto;width:100%;">
       <img src="<{$code}>" style='margin:0px auto;width:95%;'>
    </div>
    
</div>

